<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>New Post Notification</h1>
  <p>A new post has been created:</p>
  <h2><%= @post.title %></h2>
  <p><%= @post.content %></p>
</body>
</html>
